/* link to Google fonts to allow browsers to access fonts, instructions for using them */

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lato&family=Montserrat&display=swap");

/*
font-family: 'Anton', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

/* Sets all elements within the html file to border-box sizing */
* {
  box-sizing: border-box;
}
/* ELEMENT SELECTORS */
body {
  background-color: #dae1e7;
}

header {
  background-color: #142850;
}

h1 {
  color: #00909e;
  font-family: "Anton", sans-serif;
  font-size: 60px;
  margin: 0;
  padding-top: 20px;
  letter-spacing: 0.08em;
  text-align: center;
}

h2 {
  color: #dae1e7;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
}

h3 {
  font-family: "Lato", sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50px;
  box-shadow: 0 0 9px 0.5px black;
  margin-top: 15px;
}
/* TARGETS ALL P, UL, AND OL (OVERRIDEN FOR FOOTER BELOW) */
p,
ul,
ol {
  font-family: "Montserrat", sans-serif;
}

footer {
  background-color: #142850;
  padding-top: 20px;
}
/* TARGETS ONLY THE PARAGRAPH NESTED IN FOOTER > SECTION */
footer > section > p {
  color: #dae1e7;
  margin: 0;
  padding-bottom: 15px;
  font-family: "Lato", sans-serif;
  text-align: center;
}

/* USES A BACKGROUND IMAGE IN PLACE OF A LINE */


/* CLASS SELECTORS */

.wrapper {
  width: 750px;
  margin: auto;
}

/* PSEUDO CLASS SELECTORS (LOVE HATE NMEUMONIC) */
a:link {
  text-decoration: none;
  color: #00909e;
}
a:visited {
  color: darkslateblue;
}
a:hover {
  text-decoration: underline;
}
a:active {
    color: dodgerblue;
}
